<form #ref="ngForm" (ngSubmit)="onChange(ref.value); ref.reset()" class="form mt-5" >
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Aadhar Number</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="Aadhaar" ngModel>
  </div>
  
  <button type="submit" class="btn btn-primary d-block mx-auto" >Update Aadhar</button>
</form>



<div *ngFor="let i of ans|keyvalue">
<h4 *ngIf="i.value!=null && i.key!='_id'&& i.key!='Agree'">{{i.key}}:{{i.value}}</h4>
</div>